body {
  margin: 0;
  font-family: 'Lora', serif;
}

.Styles__EventList___16PU_ {
  background-color: #eee;
}
  .Styles__EventList___16PU_ > header {
    font-size: 20px;
    text-align: center;
  }
  .Styles__EventList___16PU_ > section {
    display: flex;
  }

.Styles__Event___29r7M {
  margin: 12px 10px;
}
  .Styles__Event___29r7M > header {
    margin: 0 0 4px 0;
    padding: 4px 0;
    border-bottom: 1px solid rgba(0, 0, 0, 0.3);
    font-weight: bold;
    text-transform: uppercase;
    text-align: center;
  }
  .Styles__Event___29r7M > section {
    padding: 4px 0;
  }

.Styles__Fight___31neB {
  padding: 3px 4px;
  text-align: center;
  cursor: pointer;
}
  .Styles__Fight___31neB:hover {
    background-color: rgba(0, 0, 0, 0.1);
  }

.Styles__Boxer___2HF-r {
  font-weight: bold;
}