body {
  margin: 0;
  font-family: 'Lora', serif;
}

.event-list {
  background-color: #eee;
}
  .event-list > header {
    font-size: 20px;
    text-align: center;
  }
  .event-list > section {
    display: flex;
  }
    .event-list__item {
      margin: 12px 10px;
    }
      .event-list__item > header {
        margin: 0 0 4px 0;
        padding: 4px 0;
        border-bottom: 1px solid rgba(0, 0, 0, 0.3);
        font-weight: bold;
        text-transform: uppercase;
        text-align: center;
      }
      .event-list__item > section {
        padding: 4px 0;
      }
.fight-list__item {
  padding: 3px 4px;
  text-align: center;
  cursor: pointer;
}
  .fight-list__item:hover {
    background-color: rgba(0, 0, 0, 0.1);
  }
.boxer-list__item {
  font-weight: bold;
}